{% extends 'base.html' %}

{% block title %}
    DevShaft.org - {{ framework.title }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - {{ framework.title }}" />
    <meta property="og:description" content="{{ framework.description }}" />
    <meta property="og:url" content="https://devshaft.org{{ request.path }}" />

    <meta name="description" content="{{ framework.description }}"/>

{% endblock %}
{% block body_content %}
    <div class="column">
        <div class="ui segment">
        <h1 class="ui header" align="center">{{ framework.title }}{% if user.is_authenticated %}
                <a href="{% url 'frameworks:edit' framework.id %}" class="blue mini ui button">Edit</a>
                {% endif %}
        </h1>
        {% with images.first as image %}
            <img class="ui small image left floated" src="{{ image.image.url }}"/>
        {% endwith %}
            {{ framework.description }}
        {% with images|slice:"1:" as gallery %}
            <div class="ui tiny images">
            {% for image in gallery %}
                    <img class="ui image" src="{{ image.image.url }}"/>
            {% endfor %}
            </div>
        {% endwith %}
        <table class="ui celled table">
            <thead>
            <tr>
                <th><i class="fas fa-star"></i>Stars</th>
                <th><i class="fas fa-code-branch"></i>Forks</th>
                <th><i class="far fa-calendar-alt"></i> Repo fetched</th>
                <th><i class="far fa-calendar"></i> Last commit</th>
                <th><i class="fas fa-chart-bar"></i>Stats</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ framework.repo_stars }}</td>
                <td>{{ framework.repo_forks }}</td>
                <td>{{ framework.repo_updated | timesince }} ago</td>
                <td>{% if framework.last_commit %}{{ framework.last_commit | timesince }} ago{% else %}-{% endif %}</td>
                <td><img
                        src="https://chart.googleapis.com/chart?cht=bvg&chs=105x20&chd=t:{{ framework.commits }}&chco=666666&chbh=1,1,1&chds=0,10">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui divider"></div>
        <div class="container" align="center">
         {% if framework.user == user %}
                            <i class="like icon disabled"></i> {{ framework.likes.count }}
                            <a href="{% url 'frameworks:fetch_metadata' framework.id %}" class="mini ui button"><i
                                    class="large github icon"></i>Fetch metadata</a>

                        {% elif user.is_authenticated %}
                            <i id="likes_framework" data-frameworkid="{{ framework.id }}" class="circular like icon
                {% if user_liked %}
                active">
                                <span id='likes_count'>{{ framework.likes.count }}</span>

                            {% else %}
                                ">
                                <span id='likes_count'>{{ framework.likes.count }}</span>
                            {% endif %}
                            </i>
                            <a href="{% url 'assets:fetch_metadata' framework.id %}" class="mini ui button"><i
                                    class="large github icon"></i>Fetch metadata</a>
                        {% else %}
                            <i class="like icon disabled"></i> {{ framework.likes.count }}
                        {% endif %}

            <span class="ui label"><i class="user icon"></i> {{ framework.user }}</span>
        {% if framework.repository_url %}
            <span class="ui label"><a href="{{ framework.repository_url }}">Repository</a></span>
                    {% endif %}
                    {% if framework.site %}
                        <span class="ui label"><a href="{{ framework.site }}">Official site</a></span>
                    {% endif %}
                    {% if framework.version %}
                        Latest version: <small data-tooltip="{{ framework.version_date }}">
                        {{ framework.version }}
                    </small>
                    {% endif %}
    </div>
        </div>
    </div>
{% endblock %}