{% extends 'base_list.html' %}

{% load crispy_forms_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block title %}
    DevShaft.org - Frameworks, Engines, Libraries
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - Frameworks, Engines, Libraries"/>
    <meta property="og:description"
          content="Find and download  Frameworks, Engines, Libraries for your gamedev needs."/>
    <meta property="og:url" content="https://devshaft.org{{ request.path }}"/>

    <meta name="description" content="Find and download  Frameworks, Engines, Libraries for your gamedev needs."/>

{% endblock %}

{% block search %}
    <form class="ui form">
        {% for field in filter.form %}
                <div class="field">
                <label>{{ field.label }}</label>
                    {{ field }}
                </div>
        {% endfor %}
        <button class="ui positive button" type="submit">Search</button>
    </form>
{% endblock %}

{% block list %}
    {% if frameworks %}
    <div class="ui five cards">
        {% for framework in frameworks %}
            <!-- CONTENT -->
            <div class="card">
                <a class="image" href="{{ framework.get_absolute_url }}">
                    {% with framework_image=framework.images.first %}
                        <img src="{% if framework_image %}
                        {% cropped_thumbnail framework_image "cropping" %}
                        {% else %}
                        /static/placeholder.jpg
                        {% endif %}">
                    {% endwith %}
                </a>
                    <div class="content">
                        <a class="header" href="{{ framework.get_absolute_url }}">{{ framework.title }}</a>
                    </div>
                    <div class="extra content">
                          <span class="right floated">
                            <div class="ui icon" data-tooltip="Updated {{ framework.updated|timesince }} ago"><i class="far fa-calendar-alt"></i></div>
                          </span>
                                                <span>
                            <i class="like icon disabled"></i>
                            {{ framework.total_likes }}
                          </span>
                    </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="ui placeholder segment">
          <div class="ui icon header">
            <i class="search icon"></i>
            We don't have any frameworks or engines matching your query
          </div>
          <div class="inline">
            <a class="ui primary button" href="{% url 'frameworks:list' %}">Clear Query</a>
          </div>
        </div>
    {% endif %}
    <div class="ui divider"></div>
    <div class="container" align="center">{% include 'pagination.html' with entries=frameworks %}</div>

{% endblock %}



{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('select')
                .dropdown();

        });
    </script>
{% endblock %}