{% extends 'base_list.html' %}

{% block search %}
    <h5>Search</h5>
    <form class="form-horizontal">
        <div class="form-group">
            <input class='form-control' name="q" placeholder="Framework name">
        </div>

        <button class="btn btn-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block list %}
    {% for framework in framework_list %}
        {% cycle 'start' '' 'end' as row_cycle silent %}
        {% if row_cycle == 'start' %}
            <div class="row">
        {% endif %}
    <!-- CONTENT -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title"> {{ framework.title }}</h4>
                    <span class="label label-default"><i
                            class="glyphicon glyphicon-tag"></i> {{ framework.license }}</span>

                <span class="label label-info"><i class="glyphicon glyphicon-user"></i> {{ framework.user }}</span>
            </div>
            <div class="panel-body">
{#                <img class="img-thumbnail img-responsive asset-img" src="#}
{#                        {% with entry_image=entry.entryimage_set.first %}#}
{#                        {% if entry_image %}#}
{#                        {{ MEDIA_URL }}{{ entry_image.image }}#}
{#                        {% else %}{{ MEDIA_URL }}{{ entry.category.image }}{% endif %}#}
{#                        {% endwith %}">#}
            </div>
            <div class="panel-footer">
                <p><a href="{{ framework.get_absolute_url }}" class="btn btn-primary" role="button">Detail</a></p>
            </div>
        </div>
    </div>
    <!-- CONTENT -->
    {% if row_cycle == 'end' %}
        </div>
    {% endif %}



    {% empty %}
        <h1>No entries there</h1>

    {% endfor %}

{% endblock %}