{% extends 'base_list.html' %}

{% load crispy_forms_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block search %}
    <h5>Search</h5>
    <form class="form-horizontal">
        {{ filter.form | crispy }}

        <button class="btn btn-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block list %}
    {% for framework in frameworks %}
        {% cycle 'start' '' 'end' as row_cycle silent %}
        {% if row_cycle == 'start' %}
            <div class="row">
        {% endif %}
    <!-- CONTENT -->
    <div class="col-lg-4">
        <a href="{{ framework.get_absolute_url }}" class="nohover-link">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title"> {{ framework.title }}</h4>
                    <span class="label label-info"><i class="fas fa-user"></i> {{ framework.user }}</span>
                    <span class="label label-warning"><i
                            class="fas fa-balance-scale"></i> {{ framework.license }}</span></div>
            <div class="panel-body panel-no-padding">
                <img class="img-thumbnail img-responsive asset-img" src="
                {% with framework_image=framework.frameworkimage_set.first %}
                        {% if framework_image %}
                        {% cropped_thumbnail framework_image "cropping" %}
                        {% else %}
                        /static/placeholder.jpg
                        {% endif %}
                        {% endwith %}">
            </div>
            <div class="panel-footer">
                <i class="fas fa-thumbs-up"></i> {{ framework.likes.count }}
                <small><i class="far fa-calendar-alt"></i> {{ entry.updated | timesince }} ago</small>
            </div>
            </div>
        </a>
    </div>
        <!-- CONTENT -->
        {% if row_cycle == 'end' %}
            </div>
        {% endif %}



        {% empty %}
        <h1>Nothing there</h1>

    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script>
    function formatState(state){
        return state.text.replace(/-/g, "")
    }
       $(document).ready(function() {
    $('#id_languages').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});
    $('#id_target_platforms').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});
    $('#id_editor_platforms').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});

});
    </script>
{% endblock %}