{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Devshaft.org - Game development aggregator" />
    <meta property="og:description" content="Game development News, Frameworks, Engines, Assets, Libraries, Tools, Demos and Tutorials" />
    <meta property="og:url" content="https://devshaft.org/" />

    <meta name="description" content="Game development News, Frameworks, Engines, Assets, Libraries, Tools, Demos and Tutorials"/>

{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello there!</h1>
        <p>This is site for game developers.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'assets:list' %}" role="button">Assets</a>
            <a class="btn btn-primary btn-lg" href="{% url 'frameworks:list' %}" role="button">Frameworks</a>
            <a class="btn btn-primary btn-lg" href="{% url 'tutorials:list' %}" role="button">Tutorials</a>
        </p>
        <p>
            <small>Soon there will be stats and other stuff</small>
        </p>
    </div>
{% endblock %}