{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Devshaft.org - Game development aggregator"/>
    <meta property="og:description"
          content="Game development News, Frameworks, Engines, Assets, Libraries, Tools, Demos and Tutorials"/>
    <meta property="og:url" content="https://devshaft.org/"/>

    <meta name="description"
          content="Game development News, Frameworks, Engines, Assets, Libraries, Tools, Demos and Tutorials"/>

{% endblock %}

{% block body_content %}
    <div class="column" align="center">
        <h1>Hello there!</h1>
        <p>This is site for game developers.</p>
        <div class="ui five statistics">
            <a class="statistic" href="/news/">
                <div class="value">
                    {{ news_count }}
                </div>
                <div class="label">
                    News
                </div>
            </a>
            <a class="statistic" href="{% url 'frameworks:list' %}">
                <div class="value">
                    {{ frameworks_count }}
                </div>
                <div class="label">
                    Frameworks
                </div>
            </a>
            <a class="statistic" href="{% url 'assets:list' %}">
                <div class="value">
                    {{ assets_count }}
                </div>
                <div class="label">
                    Assets
                </div>
            </a>
            <a class="statistic" href="{% url 'tutorials:list' %}">
                <div class="value">
                    {{ tutorials_count }}
                </div>
                <div class="label">
                    Tutorials
                </div>
            </a>
            <a class="statistic" href="{% url 'tutorials:series_list' %}">
                <div class="value">
                    {{ series_count }}
                </div>
                <div class="label">
                    Courses
                </div>
            </a>
        </div>
    </div>
{% endblock %}