{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    {{ form.media }}
{% endblock %}

{% block body_content %}
    <div class="six wide column centered" align="center">
    <div class="ui form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                <label>{{ field.label }}</label>
                    {{ field }}
                </div>
        {% endfor %}
            <input type="submit" class="blue massive ui button" value="Save">
        </form>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('select').dropdown();
        });
    </script>
{% endblock %}