{% extends 'base.html' %}

{% load common_tags %}


{% block title %}
    DevShaft.org - {{ tutorial.name }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - {{ tutorial.name }}"/>
    <meta property="og:description" content="{{ tutorial.short_description }}"/>
    <meta property="og:url" content="https://devshaft.org{{ request.path }}"/>

    <meta name="description" content="{{ tutorial.short_description }}"/>

{% endblock %}
{% block body_content %}
<div class="column" align="center">
    <div class="ui segment">
        <h1 class="ui header" align="center">{{ tutorial.name }}{% if user.is_authenticated %}
            <a href="{% url 'tutorials:edit' tutorial.id %}" class="blue mini ui button">Edit</a>
        {% endif %}
        </h1>
        <img class="ui small image" src="{{ tutoral.image.url }}"/>
        <p>{{ tutorial.content | show_markdown | safe }}</p>
    <p>
        {% if tutorial.user == user %}
            <i class="like icon disabled"></i> {{ tutorial.users_liked.count }}
        {% elif user.is_authenticated %}
            <i id="likes_tutorials" data-frameworkid="{{ framework.id }}" class="circular like icon
                {% if user_liked %}
                active">
                <span id='likes_count'>{{ tutorial.users_liked.count }}</span>
            {% else %}
                ">
                <span id='likes_count'>{{ tutorial.users_liked.count }}</span>
            {% endif %}
            </i>
        {% else %}
        <hr>
        <i class="fa fa-thumbs-up"></i> {{ tutorial.users_liked.count }}
        {% endif %}
    </p>
        {% if tutorial.url %}
            <a href="{{ tutorial.url }}" target="_blank" class="ui massive purple button">Go to source</a>
        {% endif %}
        {% if tutorial.credit_note %}
            <p>Credit note:
                <small>{{ tutorial.credit_note }}</small>
            </p>
        {% endif %}
        <h4 class="ui header">Languages:</h4>
        <p>
            {% for language in tutorial.languages.all %}
                <span class="ui yellow label">{{ language.name }}</span>
            {% endfor %}
        </p>
        <h4 class="ui header">Assets:</h4>
        <p>
            {% for asset in tutorial.assets.all %}
                <a class="ui green label" href="{{ asset.get_absolute_url }}">{{ asset.name }}</a>
                {% empty %}
                -
            {% endfor %}
        </p>
        <h4 class="ui header">Tags:</h4>
        <p>
            {% for tag in tutorial.tags.all %}
                <span class="ui label"><i class="fas fa-tags"></i> {{ tag.name }}</span>
            {% endfor %}
        </p>
        <span class="ui label"><i class="fas fa-user"></i> {{ tutorial.user }}</span>
    </div>
</div>
{% endblock %}
