{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    {{ form_media }}
{% endblock %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-default" value="Save">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script>
    function formatState(state){
        return state.text.replace(/-/g, "")
    }
    $(document).ready(function() {
        $('#id_category').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});
        $('#id_frameworks').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});
        $('#id_languages').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});
        $('#id_assets').select2({dropdownCssClass: "bigdrop", templateSelection: formatState});

});
    </script>
{% endblock %}