{% extends 'base_list.html' %}
{% load crispy_forms_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block title %}
    DevShaft.org - Tutorials, Courses, Videos
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - Tutorials, Courses, Series, Videos" />
    <meta property="og:description" content="Find free Tutorials, Courses and Videos for your gamedev needs." />
    <meta property="og:url" content="https://devshaft.org{{ request.path }}" />

    <meta name="description" content="Find free Tutorials, Courses and Videos for your gamedev needs."/>

{% endblock %}
{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block search %}
    <form method="get" id="filterForm">
        {{ filter.form | crispy }}
        <button type="submit" class="btn btn-success">Search</button>

    </form>
{% endblock search %}

{% block list %}
    {% for entry in series %}
        <!-- CONTENT -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-thumbnail img-responsive asset-img"
                             src="{% if entry.image %}
                        {% cropped_thumbnail entry "cropping" %}
                        {% else %}
                        /static/placeholder.jpg
                        {% endif %}
                        ">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <h4 class="card-title">{{ entry.name }}</h4>
                            <p class="card-text">{{ entry.short_description }}</p>
                            <a href="{{ entry.get_absolute_url }}" class="btn btn-primary">Read</a>
                            <i class="fas fa-thumbs-up"></i> {{ entry.total_likes }}
                            <small><i class="far fa-calendar-alt"></i> {{ entry.created | timesince }} ago</small>
                        </div>
                    </div>

                </div>
            </div>
        <!-- CONTENT -->
        {% empty %}
        <h1>No tutorials there</h1>

    {% endfor %}
{% endblock list %}

{% block footer %}
    {% include 'pagination.html' with entries=series %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script>
        function formatState(state) {
            return state.text.replace(/-/g, "")
        }

        $(document).ready(function () {
            $('#id_category').select2({templateSelection: formatState});
            $('#id_frameworks').select2({templateSelection: formatState});
            $('#id_languages').select2({templateSelection: formatState});
            $('#id_assets').select2({templateSelection: formatState});
            $('#id_tags').select2();
            $('[data-toggle="tooltip"]').tooltip();


        });
    </script>
{% endblock %}
