{% extends 'base.html' %}

{% load common_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block title %}
    DevShaft.org - {{ series.name }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - {{ series.name }}"/>
    <meta property="og:description" content="{{ series.short_description }}"/>
    <meta property="og:url" content="https://devshaft.org{{ request.path }}"/>

    <meta name="description" content="{{ series.short_description }}"/>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{ series.name }}</h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'tutorials:series_edit' series.id %}" class="btn btn-info btn-xs"
                       role="button">Edit</a>
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#ModalDelete">
                        Delete series
                    </button>
                {% endif %}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>{{ series.content | show_markdown | safe }}</p>
                        {% if series.user == user %}
                            <br><i class="fas fa-thumbs-up"></i> {{ series.users_liked.count }}

                        {% elif user.is_authenticated %}
                            <button id="likes_series" data-seriesid="{{ series.id }}" class="btn
                {% if user_liked %}
                btn-success active" type="button">
                                <i class="fa fa-thumbs-up"></i>
                                <span id="liked">Liked </span>
                                <span id='likes_count'>{{ series.users_liked.count }}</span>

                            {% else %}
                                btn-default
                                " type="button">
                                <i class="fa fa-thumbs-up"></i>
                                <span id="liked">Like </span>
                                <span id='likes_count'>{{ series.users_liked.count }}</span>
                            {% endif %}
                            </button>
                        {% else %}
                            <hr><i class="fa fa-thumbs-up"></i> {{ series.users_liked.count }}
                        {% endif %}
                        <h4>Languages:</h4>
                        <p>
                            {% for language in series.languages.all %}
                                <span class="label label-warning"> {{ language.name }}</span>
                            {% endfor %}
                        </p>
                        <h4>Assets:</h4>
                        <p>
                            {% for asset in series.assets.all %}
                                <a href="{{ asset.get_absolute_url }}"><span
                                        class="label label-success"> {{ asset.name }}</span></a>
                                {% empty %}
                                -
                            {% endfor %}
                        </p>
                        <h4>Tags:</h4>
                        <p>
                            {% for tag in series.tags.all %}
                                <span class="label label-default"><i class="fas fa-tags"></i> {{ tag.name }}</span>
                            {% endfor %}
                        </p>
                        {% if series.url %}
                            <br><a href="{{ series.url }}" target="_blank">Source</a>
                        {% endif %}
                        {% if series.credit_note %}
                            <p>
                                <small>{{ series.credit_note }}</small>
                            </p>
                        {% endif %}
                        <br><span class="label label-info"><i class="fas fa-user"></i> {{ series.user }}</span>
                        {% for tutor in tutors %}
                            <div class="panel panel-default panel-no-padding">
                                <div class="panel-heading"><h4 class="panel-title"> {{ tutor.name }}</h4>
                                </div>
                                <div class="panel-body panel-no-padding">
                                    <img class="img-thumbnail img-responsive asset-img" src="

                        {% if tutor.image %}
                            {% cropped_thumbnail tutor "cropping" %}
                        {% else %}
                        /static/placeholder.jpg
                        {% endif %}
                        ">
                                </div>
                                <div class="panel-footer">
                                    <i class="fas fa-thumbs-up"></i> {{ tutor.total_likes }}
                                    <small href="#" data-toggle="tooltip"
                                           title="{{ tutor.updated | timesince }} ago"><i
                                            class="far fa-calendar-alt"></i> {{ tutor.updated }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} MODAL {% endcomment %}
    <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="DeleteseriesButton">Delete</h4>
                </div>
                <div class="modal-body">
                    Do you want to delete this asset?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="deleteseries" type="button" data-seriesid="{{ series.id }}" class="btn btn-danger">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}