{% extends 'base.html' %}

{% load common_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block title %}
    DevShaft.org - {{ series.name }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - {{ series.name }}"/>
    <meta property="og:description" content="{{ series.short_description }}"/>
    <meta property="og:url" content="https://devshaft.org{{ request.path }}"/>

    <meta name="description" content="{{ series.short_description }}"/>

{% endblock %}
{% block body_content %}
    <div class="column sixteen wide" align="center">
    <div class="ui segment">
        <h1 class="ui header" align="center">{{ series.name }}{% if user.is_authenticated %}
            <a href="{% url 'tutorials:edit' series.id %}" class="blue mini ui button">Edit</a>
        {% endif %}
        </h1>
        <img class="ui small image" src="{{ tutoral.image.url }}"/>
        <p>{{ series.content | show_markdown | safe }}</p>
    <p>
        {% if series.user == user %}
            <i class="like icon disabled"></i> {{ series.users_liked.count }}
        {% elif user.is_authenticated %}
            <i id="likes_seriess" data-frameworkid="{{ framework.id }}" class="circular like icon
                {% if user_liked %}
                active">
                <span id='likes_count'>{{ series.users_liked.count }}</span>
            {% else %}
                ">
                <span id='likes_count'>{{ series.users_liked.count }}</span>
            {% endif %}
            </i>
        {% else %}
        <hr>
        <i class="fa fa-thumbs-up"></i> {{ series.users_liked.count }}
        {% endif %}
    </p>
        {% if series.url %}
            <a href="{{ series.url }}" target="_blank" class="ui massive purple button">Go to source</a>
        {% endif %}
        {% if series.credit_note %}
            <p>Credit note:
                <small>{{ series.credit_note }}</small>
            </p>
        {% endif %}
        <h4 class="ui header">Languages:</h4>
        <p>
            {% for language in series.languages.all %}
                <span class="ui yellow label">{{ language.name }}</span>
            {% endfor %}
        </p>
        <h4 class="ui header">Assets:</h4>
        <p>
            {% for asset in series.assets.all %}
                <a class="ui green label" href="{{ asset.get_absolute_url }}">{{ asset.name }}</a>
                {% empty %}
                -
            {% endfor %}
        </p>
        <h4 class="ui header">Tags:</h4>
        <p>
            {% for tag in series.tags.all %}
                <span class="ui label"><i class="fas fa-tags"></i> {{ tag.name }}</span>
            {% endfor %}
        </p>
        <span class="ui label"><i class="fas fa-user"></i> {{ series.user }}</span>
    </div>
</div>
    {% for tutor in tutors %}
                            <div class="column four wide">
                            <div class="ui segment">
                                <a href="{{ tutor.get_absolute_url }}" class="ui header"> {{ tutor.name }}</a>
                                    <a href="{{ tutor.get_absolute_url }}"><img class="ui image" src="

                        {% if tutor.image %}
                            {% cropped_thumbnail tutor "cropping" %}
                        {% else %}
                        /static/placeholder.jpg
                        {% endif %}
                        "></a>
                                    <i class="icon like disabled"></i> {{ tutor.total_likes }}
                                    <small class="ui icon" data-tooltip="{{ tutor.updated | timesince }} ago"><i
                                            class="far fa-calendar-alt"></i> {{ tutor.updated }}</small>
                                </div>
                            </div>
                        {% endfor %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}