{% extends 'base_list.html' %}
{% load crispy_forms_tags %}
{% load cropping %}
{% load cropping thumbnail %}

{% block title %}
    DevShaft.org - Tutorials, Courses, Videos
{% endblock %}

{% block meta %}
    <meta property="og:title" content="DevShaft.org - Tutorials, Courses, Videos" />
    <meta property="og:description" content="Find free Tutorials, Courses and Videos for your gamedev needs." />
    <meta property="og:url" content="https://devshaft.org{{ request.path }}" />

    <meta name="description" content="Find free Tutorials, Courses and Videos for your gamedev needs."/>

{% endblock %}
{% block search %}
    <form method="get" id="filterForm" class="ui form">
        {% for field in filter.form %}
                <div class="field">
                <label>{{ field.label }}</label>
                    {{ field }}
                </div>
        {% endfor %}
        <button class="ui positive button" type="submit">Search</button>
    </form>
{% endblock search %}

{% block list %}
    {% if tutorials %}
    {% for entry in tutorials %}
        <div class="ui divided items">
            <div class="item">
                <div class="image">
                    <img src="{% if entry.image %}
                                    {% cropped_thumbnail entry "cropping" %}
                                    {% else %}
                                    /static/placeholder.jpg
                                    {% endif %}">
                </div>
                <div class="content">
                    <a class="header" href="{{ entry.get_absolute_url }}">{{ entry.name }}</a>
                    <div class="meta">
                        <span><i class="like icon"></i> {{ entry.total_likes }}</span>
                        <span><i class="far fa-calendar-alt"></i> {{ entry.updated | timesince }} ago</span>
                    </div>
                    <div class="description">
                        <p>{{ entry.short_description }}</p>
                    </div>
                    <div class="extra">
                        {% for tag in entry.tags.all %}
                            <div class="ui label">{{ tag.name }}</div>
                        {% endfor %}
                    </div>
                </div>
        </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="ui placeholder segment">
          <div class="ui icon header">
            <i class="search icon"></i>
            We don't have any tutorials matching your query
          </div>
          <div class="inline">
            <a class="ui primary button" href="{% url 'tutorials:list' %}">Clear Query</a>
          </div>
        </div>
    {% endif %}
    <div class="ui divider"></div>
    <div class="container" align="center">{% include 'pagination.html' with entries=tutorials %}</div>
{% endblock list %}


{% block scripts %}
    {{ block.super }}
    <script>
        $('#id_tags').toggleClass('ui search dropdown').dropdown();
        $('#id_languages').toggleClass('ui search dropdown').dropdown();
        $('#id_frameworks').toggleClass('ui search dropdown').dropdown();
        $('#id_assets').toggleClass('ui search dropdown').dropdown();
    </script>
{% endblock %}
