{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
        <h1>Entries</h1>

    <form method="get" action=".">
    {{ filter.form | crispy }}
    <input type="submit" class="btn btn-success" value="Search">
    </form>

{% endblock %}

{% block content %}
    <div class="row">
    {% for entry in entries %}
            <div class="panel panel-default col-lg-4">
                    <div class="panel-heading"> <h4> {{ entry.name }} <small> {{ entry.category }}</small></h4>
                        Tags:{% for tag in entry.tags.all %}<span class="label label-info">{{ tag }}</span> {% endfor %}<br>

                        <span class="label label-warning"><i class="glyphicon glyphicon-user"></i> {{ entry.user }}</span></div>
                    <div class="panel-body">
                    <img class="img-rounded img-responsive" src="
                    {% with entry_image=entry.entryimage_set.first %}
                    {% if entry_image %}
                    {{ MEDIA_URL }}{{ entry_image.image }}
                    {% else %}{{ MEDIA_URL }}{{ entry.category.image }}{% endif %}
                    {% endwith %}" style="max-height:200px">


                        <p>{{ entry.description | truncatechars_html:120 }}</p>
                        <div class="panel-footer">
                                {% if entry.versionhistory__timestamp__max %}
                                Last updated: {{ entry.versionhistory__timestamp__max | timesince}} ago<br>
                                {% endif %}
                            Likes: {{ entry.entrylikes__count }}
                            <p><a href="{{ entry.get_absolute_url }}" class="btn btn-primary" role="button">Detail</a></p>
                        </div>
                    </div>
                </div>


        {% cycle '' '' '</div><div class="row">' %}
        {% empty %}
        <h1>No entries there</h1>
    {% endfor %}
{% endblock %}

{% block footer %}
<nav>
  <ul class="pagination">
    <li class="
    {% if not entries.has_previous %}
        disabled
    {% endif %}">
        <a href="{% if entries.has_previous %}?q={{ request.GET.q }}&category={{ request.GET.category }}{% for t in request.GET.t %}&t={{ t }}{% endfor %}&o={{ request.GET.o }}&page={{ entries.previous_page_number }}{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>


    {% for page in entries.paginator.page_range %}
      <li class="{% if page == entries.number %}active{% endif %}"><a href="?q={{ request.GET.q }}&category={{ request.GET.category }}{% for t in request.GET.t %}&t={{ t }}{% endfor %}&o={{ request.GET.o }}&page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
    {% endfor %}

  <li class="
    {% if not entries.has_next %}
        disabled
    {% endif %}">
        <a href="{% if entries.has_next %}?q={{ request.GET.q }}&category={{ request.GET.category }}{% for t in request.GET.t %}&t={{ t }}{% endfor %}&o={{ request.GET.o }}&page={{ entries.next_page_number }}{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
{% endblock %}