{% extends 'base.html' %}
{% block page_header %}
        <h1>Entries</h1>
{% endblock %}
{% block content %}
    {% for entry in entries %}
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default" >
                    <div class="panel-heading"> <h4>{{ entry.name }} <span class="label label-info">{{ entry.category }}</span></h4>
                        <span class="label label-default glyphicon glyphicon-user"> {{ entry.user }}</span></div>
                    <div class="panel-body fixed-panel">
                    <img class="img-rounded img-responsive" src="{% if entry.entryimage_set.first %}
                    {{ MEDIA_URL }}{{ entry.entryimage_set.first.image }}
                    {% else %}{{ MEDIA_URL }}{{ entry.category.image }}{% endif %}" style="max-height:200px" alt="...">


                        <p>{{ entry.description }}</p>
                        <div class="panel-footer"><p><a href="{% url 'assets:detail' entry.id %}" class="btn btn-primary" role="button">Detail</a></p>
                        </div>
                    </div>
                </div>
            </div>

        {% cycle '' '' '</div><div class="row">' %}
    {% endfor %}
{% endblock %}