{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="well well-sm col-lg-12">
      <h1>{{ entry.name }}<small>{{ entry.category }}</small></h1>{% if entry.user == user %}
      <a href="{% url 'assets:assets_edit' entry.id %}" class="btn btn-info" role="button">Edit</a>
      {% endif %} 
    <p>{{ entry.description }}</p>
    </div>




    </div>
    <div class="row">
    <div class="panel panel-default col-lg-6">
    <h1>Changelog</h1>
    {% for version in versions %}
        <hr>
        <h5><strong>{{ version.version }}</strong></h5>
        <p>{{ version.changelog| linebreaks}}</p>
    {% endfor %}
    
    </div>

    <div class="panel panel-default col-lg-6">
    <h1>Versions</h1>
    {% if versions %}
        <table class="table table-bordered table-striped"><tr><th>version</th><th>date</th><th>download</th></tr>
            {% for version in versions %}
                <tr><td>{{ version.version }}</td><td>{{ version.timestamp }}</td><td><a href="{{ MEDIA_URL }}{{ version.file }}">link</a></td></tr>
            {% endfor %}

      </table>
    {% else %}
    <h1>No versions yet</h1>
    {% endif %}
    </div>
    </div>
{% endblock %}