.entryCarouselImg img {
    width: 300px;
    height: 300px;
    max-height: 300px;
}

.navbar-brand {
    color: white !important;
}

.body {
    font-size: 13px !important;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.asset-img {
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    padding: 0;
}

.panel-no-padding{
    padding: 0;
}

/*dropdown in filter search*/
.bigdrop.select2-container .select2-results {
    max-height: 500px;
}

.bigdrop .select2-results {
    max-height: 500px;
}

.bigdrop .select2-choices {
    min-height: 400px;
    max-height: 500px;
    overflow-y: auto;
}

.nohover-link {
    display: block;
    color: black;
    text-decoration:none;
    box-shadow: none;
}

.nohover-link:hover {
    display: block;
    opacity: 1.0;
    text-decoration:none;
    box-shadow: none;
}