{% extends 'base.html' %}

{% block title %}
    DevShaft.org - {{ entry.name }}
{% endblock %}
{% block meta %}
    <meta property="og:title" content="DevShaft.org - {{ entry.name }}" />
    <meta property="og:description" content="{{ entry.description }}" />
    <meta property="og:url" content="https://devshaft.org{{ request.path }}" />

    <meta name="description" content="{{ entry.description }}"/>

{% endblock %}

{% block body_content %}
    <div class="column sixteen wide">
        <div class="ui segment">
        <h1 class="ui header" align="center">{{ entry.name }}{% if user == entry.user %}
                <a href="{% url 'assets:edit' entry.id %}" class="blue mini ui button">Edit</a>
                <a href="{% url 'assets:add_version' entry.id %}" class="green mini ui button">Add version</a>
                {% endif %}
        </h1>
        {% with images.first as image %}
            <img class="ui small image left floated" src="{{ image.image.url }}"/>
        {% endwith %}
            {{ entry.description }}
        {% with images|slice:"1:" as gallery %}
            <div class="ui tiny images">
            {% for image in gallery %}
                    <img class="ui image" src="{{ image.image.url }}"/>
            {% endfor %}
            </div>
        {% endwith %}
        <table class="ui celled table">
            <thead>
            <tr>
                <th><i class="fas fa-star"></i>Stars</th>
                <th><i class="fas fa-code-branch"></i>Forks</th>
                <th><i class="far fa-calendar-alt"></i> Repo fetched</th>
                <th><i class="far fa-calendar"></i> Last commit</th>
                <th><i class="fas fa-chart-bar"></i>Stats</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entry.repo_stars }}</td>
                <td>{{ entry.repo_forks }}</td>
                <td>{{ entry.repo_updated | timesince }} ago</td>
                <td>{% if entry.last_commit %}{{ entry.last_commit | timesince }} ago{% else %}-{% endif %}</td>
                <td><img
                        src="https://chart.googleapis.com/chart?cht=bvg&chs=105x20&chd=t:{{ entry.commits }}&chco=666666&chbh=1,1,1&chds=0,10">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui divider"></div>
        <div class="container" align="center">
         {% if entry.user == user %}
                            <i class="like icon disabled"></i> {{ entry.users_liked.count }}
                            <a href="{% url 'assets:fetch_metadata' entry.id %}" class="mini ui button"><i
                                    class="large github icon"></i>Fetch metadata</a>

                        {% elif user.is_authenticated %}
                            <i id="likes_entry" data-entryid="{{ entry.id }}" class="circular like icon
                {% if user_liked %}
                active">
                                <span id='likes_count'>{{ entry.users_liked.count }}</span>

                            {% else %}
                                ">
                                <span id='likes_count'>{{ entry.users_liked.count }}</span>
                            {% endif %}
                            </i>
                            <a href="{% url 'assets:fetch_metadata' entry.id %}" class="mini ui button"><i
                                    class="large github icon"></i>Fetch metadata</a>
                        {% else %}
                            <i class="like icon disabled"></i> {{ entry.users_liked.count }}
                        {% endif %}

            <span class="ui label"><i class="user icon"></i> {{ entry.user }}</span>
        {% if entry.repository_url %}
            <span class="ui label"><a href="{{ entry.repository_url }}">Repository</a></span>
                    {% endif %}
                    {% if entry.site %}
                        <span class="ui label"><a href="{{ entry.site }}">Official site</a></span>
                    {% endif %}
                    {% if entry.version %}
                        Latest version: <small data-tooltip="{{ entry.version_date }}">
                        {{ entry.version }}
                    </small>
                    {% endif %}
    </div>
        </div>
    </div>
{% if versions %}
    <div class="column eight wide">
        <h1>Changelog</h1>
            {% for version in versions %}
                <hr>
                <h5><strong>{{ version.version }}</strong></h5>
                <p>{{ version.changelog| linebreaks }}</p>
            {% endfor %}
    </div>
            <div class="column eight wide">
                <a href="{% url 'assets:entry_versions' entry.id %}"><h1>Versions</h1></a>
                {% if versions %}
                    <table class="ui table">
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                            <th>Download</th>
                        </tr>
                        {% for version in versions %}
                            {% with uploads=version.uploads.all %}
{#                                TODO edit so only owner will see empty releases #}
                            <tr>
                                <td>{{ version.version }}</td>
                                <td><p data-tooltip="{{ version.timestamp }}">{{ version.timestamp | timesince }} ago</p></td>
                                <td>
                                        <table class="ui table celled">
                                            <tr>
                                                <th>Note</th>
                                                <th>Action</th>
                                            </tr>
                                            {% for upload in uploads %}
                                                <tr>
                                                    <td>{{ upload.note }}</td>
                                                    <td>
                                                        <a href="{{ upload.file.url }}"
                                                           class="ui tiny button">Download</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% if entry.user == user %}
                                        <a href="{% url 'assets:edit_version' entry.id version.id %}"
                                           class="ui button"
                                           role="button">Edit</a>
                                    {% endif %}

                                </td>
                            </tr>
                            {% endwith %}
                        {% endfor %}

                    </table>
                {% endif %}
            </div>
{% endif %}
{% endblock %}